* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Thasadith', sans-serif;
  font-size: 0.625rem;
  color: #FFFFFF;

  html,
  body {
    width: 100vw;
    min-height: 100vh;
  }
}