@import './partials/colors';

.homepage__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  overflow: hidden;
  padding-bottom: 10rem;
  margin-bottom: -10rem;
}

.header__image {
  width: 100%;
  height: 100%;
  background-image: url('../images/header.jpg');
  background-size: cover;
}

.header-info__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  height: 15rem;
  background: $primary;
  border-radius: 0.5rem;
  padding: 1rem;
  bottom: 15rem;
  z-index: 1
}

.header-info__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-info__title {
  font-size: 2.4rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.line-break {
  width: 14rem;
  height: 0.1rem;
  background-color: $tan;
}

.header-info__quote {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  font-weight: 300;
}

.order__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3rem;
  background-color: $secondary;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(2px);
  }
}

// banner
.header__banner {
  position: absolute;
  width: 150%;
  height: 20rem;
  background-color: $tan;
  transform: rotate(-6deg);
  bottom: 3rem;
  left: -25%;
  z-index: 0;
}

.icon__wrap {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 24rem;
  height: 6rem;
  bottom: 6.5rem;
  z-index: 2;
}

.icon__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3.4rem;
  height: 100%;
}

.icon {
  width: 3.4rem;
  height: 3.4rem;

  &--food {
    background-image: url(../images/fork.png);
    background-size: 3.4rem 3.4rem;
    width: 3.4rem;
    height: 3.4rem;
  }

  &--drinks {
    background-image: url(../images/coffee-cup.png);
    background-size: 3.4rem 3.4rem;
    width: 3.4rem;
    height: 3.4rem;
  }

  &--dessert {
    background-image: url(../images/ice-cream.png);
    background-size: 3.4rem 3.4rem;
    width: 3.4rem;
    height: 3.4rem;
  }
}

.icon__subtitle {
  font-size: 1rem;
  color: $dark;
}

// open hours
.home-content__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11rem;
}

.hours__wrap {
  position: relative;
  width: 29rem;
  height: 18rem;
}

.hours__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 23rem;
  height: 16rem;
  background: $primary;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  z-index: 1;
}

.hours__title {
  width: 18rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.schedule__wrap {
  display: flex;
  width: 18rem;
  height: 100%
}

.schedule__days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.schedule__times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.schedule__text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.hours__backdrop {
  position: absolute;
  width: 23rem;
  height: 16rem;
  background: $tan;
  bottom: 0;
  right: 0;
}